body {
	font-family: 'Open Sans', sans-serif ;
	background-color: #c2e9ff;
}

footer {
     text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    margin: 50px;
}

div1 {
    text-align: center;
    background-color: #ffffff;
    width: 300px;
    border-bottom: 5px #0066a1;
    padding: 50px;
    margin: 540px;
}

div2 {
    text-align: center;
    width: 300px;
    border-bottom: 5px;
    padding: 50px;
    margin: 540px;
}

.site-logo {
	text-align: center;
	color: 135175;
}

.bg-secondary {
	background-color: lightgrey;
}


